# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Streamlit
.streamlit/

# Ambiente virtual
venv/
.env/
.envrc

# Arquivos de backup e logs
*.log
*.bak
*.swp
.DS_Store

# Dados e resultados
*.json
*.csv
*.grib
*.grib2
*.nc
*.bin

# FAISS
*.index

# LM Studio
*.db
